server {
       listen 80 default_server;
       server_name {{ nginx.servername }};

       # Strict Transport Security
       add_header Strict-Transport-Security max-age=2592000;
       rewrite ^/.*$ https://$host$request_uri? permanent;
}
server {
       listen 443 default ssl;
       server_name {{ nginx.servername }};
       ssl on;
       ssl_certificate {{ openssl_dir }}/{{ ca.certificate }};
       ssl_certificate_key {{ openssl_dir }}/{{ ca.key }};
       root {{ proj_path }}/public;

       set $do_not_cache {{ nginx_do_not_cache }};
       set $fuel_env {{ nginx_fuel_env }};
       set $client_max_body_size {{ nginx_client_max_body_size }};

       client_max_body_size $client_max_body_size;

       location / {
                try_files $uri /index.php?$uri&$args;
        }

        location ~ \.php$ {
                proxy_no_cache $do_not_cache;
                proxy_cache_bypass $do_not_cache;
                fastcgi_pass 127.0.0.1:9000;
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_param HTTPS on;
                fastcgi_param FUEL_ENV $fuel_env;
                include fastcgi_params;
        }
}

upstream node-backend {
    server localhost:3000;
}

server {
       listen 80;
       server_name {{ nginx.servernameNode }};

       # Strict Transport Security
       add_header Strict-Transport-Security max-age=2592000;
       rewrite ^/.*$ https://$host$request_uri? permanent;
}

server {
    listen 443;
    server_name {{ nginx.servernameNode }};

    #charset koi8-r;
    #access_log  /var/log/nginx/log/host.access.log  main;
    #charset utf-8;
    #access_log /var/log/nginx/default.access.log main;
    #error_log /var/log/nginx/default.error.log;

    set $client_max_body_size {{ nginx_client_max_body_size }};

    proxy_redirect                      off;
    proxy_set_header Host               $host;
    proxy_set_header X-Real-IP          $remote_addr;
    proxy_set_header X-Forwarded-Host   $host;
    proxy_set_header X-Forwarded-Server $host;
    proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;

    client_max_body_size $client_max_body_size;

    location / {
        #root   /usr/share/nginx/html;
        #index  index.html index.htm;
        proxy_pass http://node-backend;
    }

    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}


server {
       listen 80;
       server_name {{ nginx.servernameAdmin }};

       # Strict Transport Security
       add_header Strict-Transport-Security max-age=2592000;
       rewrite ^/.*$ https://$host$request_uri? permanent;
}
server {
       listen 443;
       server_name {{ nginx.servernameAdmin }};
       ssl on;
       ssl_certificate {{ openssl_dir }}/{{ ca.certificate }};
       ssl_certificate_key {{ openssl_dir }}/{{ ca.key }};
       root {{ proj_path }}/public;

       set $do_not_cache {{ nginx_do_not_cache }};
       set $fuel_env {{ nginx_fuel_env }};
       set $client_max_body_size {{ nginx_client_max_body_size }};

       client_max_body_size $client_max_body_size;

       location / {
                try_files $uri /index.php?$uri&$args;
        }

        location ~ \.php$ {
                proxy_no_cache $do_not_cache;
                proxy_cache_bypass $do_not_cache;
                fastcgi_pass 127.0.0.1:9000;
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_param HTTPS on;
                fastcgi_param FUEL_ENV $fuel_env;
                include fastcgi_params;
        }
}
