server {
	listen 80 default_server;
	server_name {{ nginx.localIp }};

# Strict Transport Security
# add_header Strict-Transport-Security max-age=2592000;
	rewrite ^/.*$ https://$host$request_uri? permanent;
}
server {
	listen 443 default ssl;
	server_name {{ nginx.localIp }};
	ssl on;
	ssl_certificate {{ openssl_dir }}/{{ ca.certificate }};
	ssl_certificate_key {{ openssl_dir }}/{{ ca.key }};
	root {{ proj_path }}/public;

	charset utf-8;
	access_log /var/log/nginx/app.access.log ltsv;
	error_log /var/log/nginx/app.error.log;

	set $do_not_cache {{ nginx_do_not_cache }};
	set $fuel_env {{ nginx_fuel_env }};

	fastcgi_read_timeout 120;
	client_max_body_size {{ nginx_client_max_body_size }};

	location / {
		proxy_buffers 64 4k;
		try_files $uri /index.php?$uri&$args;
	}

	location ~ \.php$ {

		add_header 'Access-Control-Allow-Origin' '*';
		add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS, PUT, DELETE';
		add_header 'Access-Control-Allow-Headers' 'X-Requested-With,Accept,Content-Type, Origin';

		fastcgi_pass unix:/var/run/php5-fpm.sock;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
		fastcgi_param HTTPS on;
		fastcgi_param FUEL_ENV $fuel_env;
		include fastcgi_params;

	}
}

upstream node-backend {
	ip_hash;
	server {{ nginx.localIp }}:6001;
	#server {{ nginx.localIp }}:6002;
}

server {
	listen 8082;
	server_name {{ nginx.localIp }};

	proxy_redirect                      off;
	proxy_set_header Host               $host;
	proxy_set_header X-Real-IP          $remote_addr;
	proxy_set_header X-Forwarded-Host   $host;
	proxy_set_header X-Forwarded-Server $host;
	proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
	proxy_set_header   X-NginX-Proxy    true;
	proxy_set_header   Connection "";
	proxy_http_version 1.1;

	client_max_body_size {{ nginx_client_max_body_size }};

	fastcgi_read_timeout 120;
	set $do_not_cache 1;

	proxy_no_cache $do_not_cache;
	proxy_cache_bypass $do_not_cache;

	location / {

		add_header 'Access-Control-Allow-Origin' '*';
		add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS, PUT, DELETE';
		add_header 'Access-Control-Allow-Headers' 'X-Requested-With,Accept,Content-Type, Origin';

		proxy_pass http://node-backend;
	}

	#error_page  404              /404.html;
	# redirect server error pages to the static page /50x.html
	#
	error_page   500 502 503 504  /50x.html;
	location = /50x.html {
		root   /usr/share/nginx/html;
	}
}

server {
	listen 8081;
	server_name {{ nginx.localIp }};

	root {{ proj_path }}/public_admin;

	charset utf-8;
	access_log /var/log/nginx/admin.access.log ltsv;
	error_log /var/log/nginx/admin.error.log;

	set $do_not_cache {{ nginx_do_not_cache }};
	set $fuel_env {{ nginx_fuel_env }};

	fastcgi_read_timeout 120;

	client_max_body_size {{ nginx_client_max_body_size }};
	proxy_no_cache $do_not_cache;
	proxy_cache_bypass $do_not_cache;

	location / {
		proxy_buffers 64 4k;
		try_files $uri /index.php?$uri&$args;
	}

	location ~ \.php$ {
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
    fastcgi_param FUEL_ENV $fuel_env;
    include fastcgi_params;
	}
}
